<!DOCTYPE html>
<html>
  <head>
    <title>nirc</title>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>   
    <script src='/javascripts/client.js'></script>
    <script src='/javascripts/document-dot-ready.js'></script>
    <script src='/javascripts/vendor/mousetrap.min.js'></script>
    <link href='/stylesheets/style.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='/stylesheets/themes/glowstick.css' media='screen' rel='stylesheet' type='text/css'/>
	</head>
  <body>
		<form id="connect-form" onSubmit="return false;">
			<h1>##utkieee</h1>
      <input type="hidden" id="server" value="irc.freenode.net"/>
      <input type="hidden" id="port" value="6667"/>
      <label for="nickname">Nickname *</label> <input type="text" id="nickname" placeholder="volunteer1"/>
      <input type="hidden" id="user" value=""/>
      <input type="hidden" id="password" />
      <input type="hidden" id="channels" value="#ubuntu"/>
      <input type="hidden" id="ssl"/>
      <input type="submit" id="connect" value="Connect"/>
		</form>
		
		<div id="irc-stuff">		  
		  <ul id="tabs"></ul>
		  <div id="tab-views"></div>
			<input type="text" id="command-input" class="mousetrap"/>
		</div>
  </body>
</html>
